In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
pd.Series(np.random.randn(10), name='Column name')

0   -0.308588
1   -0.369019
2    1.445658
3    1.006902
4    0.025040
5    0.423741
6    0.183146
7   -0.754403
8    0.123572
9    0.094716
Name: Column name, dtype: float64

In [6]:
pd.DataFrame({"Col_1": np.random.randn(10), "Col_2": np.random.randn(10)})

      Col_1     Col_2
0 -0.016272  0.781856
1 -0.148978 -0.125204
2 -0.169943 -0.975427
3  0.384443 -0.116224
4  0.055976 -1.155928
5  0.006804 -0.251950
6 -1.368168  0.322016
7  0.417809  0.068416
8 -0.402094 -0.764254
9  1.023709  0.047028

In [7]:
#Execute if run in google colab
from google.colab import files
uploaded = files.upload()

Saving 50_Startups.csv to 50_Startups.csv

### Choose the path to your file depending on your work environment

In [7]:
#Local environment
csv_path = "./Data_for_exercises/50_Startups.csv"

In [ ]:
#Google colab
csv_path = "50_Startups.csv"

In [8]:
dataset = pd.read_csv(csv_path)
dataset.head()
dataset.tail()

    R&D Spend  Administration  Marketing Spend       State    Profit
45    1000.23       124153.04          1903.93    New York  64926.08
46    1315.46       115816.21        297114.46     Florida  49490.75
47       0.00       135426.92             0.00  California  42559.73
48     542.05        51743.15             0.00    New York  35673.41
49       0.00       116983.80         45173.06  California  14681.40

In [0]:
dataset.to_csv("start.csv")

In [15]:
dataset.index

RangeIndex(start=0, stop=50, step=1)

In [16]:
dataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [17]:
dataset.loc[:,"Administration"] # is the same as dataset.iloc[:,1]

0     136897.80
1     151377.59
2     101145.55
3     118671.85
4      91391.77
5      99814.71
6     147198.87
7     145530.06
8     148718.95
9     108679.17
10    110594.11
11     91790.61
12    127320.38
13    135495.07
14    156547.42
15    122616.84
16    121597.55
17    145077.58
18    114175.79
19    153514.11
20    113867.30
21    153773.43
22    122782.75
23    105751.03
24     99281.34
25    139553.16
26    144135.98
27    127864.55
28    182645.56
29    153032.06
30    115641.28
31    152701.92
32    129219.61
33    103057.49
34    157693.92
35     85047.44
36    127056.21
37     51283.14
38     65947.93
39     82982.09
40    118546.05
41     84710.77
42     96189.63
43    127382.30
44    154806.14
45    124153.04
46    115816.21
47    135426.92
48     51743.15
49    116983.80
Name: Administration, dtype: float64

In [18]:
dataset.loc[4:8, dataset.columns != "Administration"]

   R&D Spend  Marketing Spend       State     Profit
4  142107.34        366168.42     Florida  166187.94
5  131876.90        362861.36    New York  156991.12
6  134615.46        127716.82  California  156122.51
7  130298.13        323876.68     Florida  155752.60
8  120542.52        311613.29    New York  152211.77

In [19]:
dataset.mean()

R&D Spend           73721.6156
Administration     121344.6396
Marketing Spend    211025.0978
Profit             112012.6392
dtype: float64

In [20]:
dataset.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [22]:
dataset["New Column"] = pd.Series(np.random.randn(len(dataset)))
dataset.head()

   R&D Spend  Administration  ...     Profit New Column
0  165349.20       136897.80  ...  192261.83  -0.309722
1  162597.70       151377.59  ...  191792.06   0.875992
2  153441.51       101145.55  ...  191050.39   0.219673
3  144372.41       118671.85  ...  182901.99  -0.685385
4  142107.34        91391.77  ...  166187.94  -0.328402

[5 rows x 6 columns]

In [23]:
dataset.append(pd.Series(np.random.randn(len(dataset.columns))), ignore_index = True)

    R&D Spend  Administration  Marketing Spend  ...         3        4         5
0   165349.20       136897.80        471784.10  ...       NaN      NaN       NaN
1   162597.70       151377.59        443898.53  ...       NaN      NaN       NaN
2   153441.51       101145.55        407934.54  ...       NaN      NaN       NaN
3   144372.41       118671.85        383199.62  ...       NaN      NaN       NaN
4   142107.34        91391.77        366168.42  ...       NaN      NaN       NaN
5   131876.90        99814.71        362861.36  ...       NaN      NaN       NaN
6   134615.46       147198.87        127716.82  ...       NaN      NaN       NaN
7   130298.13       145530.06        323876.68  ...       NaN      NaN       NaN
8   120542.52       148718.95        311613.29  ...       NaN      NaN       NaN
9   123334.88       108679.17        304981.62  ...       NaN      NaN       NaN
10  101913.08       110594.11        229160.95  ...       NaN      NaN       NaN
11  100671.96        91790.61        249744.55  ...       NaN      NaN       NaN
12   93863.75       127320.38        249839.44  ...       NaN      NaN       NaN
13   91992.39       135495.07        252664.93  ...       NaN      NaN       NaN
14  119943.24       156547.42        256512.92  ...       NaN      NaN       NaN
15  114523.61       122616.84        261776.23  ...       NaN      NaN       NaN
16   78013.11       121597.55        264346.06  ...       NaN      NaN       NaN
17   94657.16       145077.58        282574.31  ...       NaN      NaN       NaN
18   91749.16       114175.79        294919.57  ...       NaN      NaN       NaN
19   86419.70       153514.11             0.00  ...       NaN      NaN       NaN
20   76253.86       113867.30        298664.47  ...       NaN      NaN       NaN
21   78389.47       153773.43        299737.29  ...       NaN      NaN       NaN
22   73994.56       122782.75        303319.26  ...       NaN      NaN       NaN
23   67532.53       105751.03        304768.73  ...       NaN      NaN       NaN
24   77044.01        99281.34        140574.81  ...       NaN      NaN       NaN
25   64664.71       139553.16        137962.62  ...       NaN      NaN       NaN
26   75328.87       144135.98        134050.07  ...       NaN      NaN       NaN
27   72107.60       127864.55        353183.81  ...       NaN      NaN       NaN
28   66051.52       182645.56        118148.20  ...       NaN      NaN       NaN
29   65605.48       153032.06        107138.38  ...       NaN      NaN       NaN
30   61994.48       115641.28         91131.24  ...       NaN      NaN       NaN
31   61136.38       152701.92         88218.23  ...       NaN      NaN       NaN
32   63408.86       129219.61         46085.25  ...       NaN      NaN       NaN
33   55493.95       103057.49        214634.81  ...       NaN      NaN       NaN
34   46426.07       157693.92        210797.67  ...       NaN      NaN       NaN
35   46014.02        85047.44        205517.64  ...       NaN      NaN       NaN
36   28663.76       127056.21        201126.82  ...       NaN      NaN       NaN
37   44069.95        51283.14        197029.42  ...       NaN      NaN       NaN
38   20229.59        65947.93        185265.10  ...       NaN      NaN       NaN
39   38558.51        82982.09        174999.30  ...       NaN      NaN       NaN
40   28754.33       118546.05        172795.67  ...       NaN      NaN       NaN
41   27892.92        84710.77        164470.71  ...       NaN      NaN       NaN
42   23640.93        96189.63        148001.11  ...       NaN      NaN       NaN
43   15505.73       127382.30         35534.17  ...       NaN      NaN       NaN
44   22177.74       154806.14         28334.72  ...       NaN      NaN       NaN
45    1000.23       124153.04          1903.93  ...       NaN      NaN       NaN
46    1315.46       115816.21        297114.46  ...       NaN      NaN       NaN
47       0.00       135426.92             0.00  ...       NaN      NaN       NaN
48     542.05        51743.15             0.00  ...       NaN      NaN       NaN
49       0.00       116983.80         45173.06  ...       NaN      NaN       NaN
50        NaN             NaN              NaN  ...  0.570683  0.01584 -0.764947

[51 rows x 12 columns]

In [25]:
line_to_append = pd.Series(np.random.randn(len(dataset.columns)), index=dataset.columns)
line_to_append

R&D Spend         -1.471385
Administration     0.747644
Marketing Spend    0.192881
State              0.266454
Profit             0.044283
New Column         1.533385
dtype: float64

In [26]:
dataset.append(line_to_append, ignore_index = True)

        R&D Spend  Administration  ...         Profit New Column
0   165349.200000   136897.800000  ...  192261.830000  -0.309722
1   162597.700000   151377.590000  ...  191792.060000   0.875992
2   153441.510000   101145.550000  ...  191050.390000   0.219673
3   144372.410000   118671.850000  ...  182901.990000  -0.685385
4   142107.340000    91391.770000  ...  166187.940000  -0.328402
5   131876.900000    99814.710000  ...  156991.120000   0.531916
6   134615.460000   147198.870000  ...  156122.510000   0.317904
7   130298.130000   145530.060000  ...  155752.600000   0.174661
8   120542.520000   148718.950000  ...  152211.770000  -0.207232
9   123334.880000   108679.170000  ...  149759.960000  -1.830735
10  101913.080000   110594.110000  ...  146121.950000  -0.859194
11  100671.960000    91790.610000  ...  144259.400000   1.186189
12   93863.750000   127320.380000  ...  141585.520000   0.946513
13   91992.390000   135495.070000  ...  134307.350000   0.800793
14  119943.240000   156547.420000  ...  132602.650000  -0.910129
15  114523.610000   122616.840000  ...  129917.040000   0.079356
16   78013.110000   121597.550000  ...  126992.930000  -0.583196
17   94657.160000   145077.580000  ...  125370.370000  -1.634420
18   91749.160000   114175.790000  ...  124266.900000   0.809170
19   86419.700000   153514.110000  ...  122776.860000  -0.996041
20   76253.860000   113867.300000  ...  118474.030000   0.548436
21   78389.470000   153773.430000  ...  111313.020000   0.461783
22   73994.560000   122782.750000  ...  110352.250000  -0.497513
23   67532.530000   105751.030000  ...  108733.990000   0.110707
24   77044.010000    99281.340000  ...  108552.040000   1.982234
25   64664.710000   139553.160000  ...  107404.340000  -1.505767
26   75328.870000   144135.980000  ...  105733.540000  -0.358816
27   72107.600000   127864.550000  ...  105008.310000  -0.449290
28   66051.520000   182645.560000  ...  103282.380000   0.084293
29   65605.480000   153032.060000  ...  101004.640000  -1.467701
30   61994.480000   115641.280000  ...   99937.590000   0.095337
31   61136.380000   152701.920000  ...   97483.560000  -0.040968
32   63408.860000   129219.610000  ...   97427.840000  -0.610383
33   55493.950000   103057.490000  ...   96778.920000   0.709021
34   46426.070000   157693.920000  ...   96712.800000  -1.501112
35   46014.020000    85047.440000  ...   96479.510000   0.807122
36   28663.760000   127056.210000  ...   90708.190000  -0.474065
37   44069.950000    51283.140000  ...   89949.140000  -0.244484
38   20229.590000    65947.930000  ...   81229.060000  -0.637665
39   38558.510000    82982.090000  ...   81005.760000  -1.269298
40   28754.330000   118546.050000  ...   78239.910000   0.510236
41   27892.920000    84710.770000  ...   77798.830000   0.049671
42   23640.930000    96189.630000  ...   71498.490000   0.563158
43   15505.730000   127382.300000  ...   69758.980000   1.717759
44   22177.740000   154806.140000  ...   65200.330000   1.811549
45    1000.230000   124153.040000  ...   64926.080000  -0.994175
46    1315.460000   115816.210000  ...   49490.750000   1.184529
47       0.000000   135426.920000  ...   42559.730000   0.102641
48     542.050000    51743.150000  ...   35673.410000   1.663788
49       0.000000   116983.800000  ...   14681.400000  -0.429836
50      -1.471385        0.747644  ...       0.044283   1.533385

[51 rows x 6 columns]

In [27]:
dataset[dataset > dataset.mean()]

    R&D Spend  Administration  Marketing Spend State     Profit  New Column
0   165349.20       136897.80        471784.10   NaN  192261.83         NaN
1   162597.70       151377.59        443898.53   NaN  191792.06    0.875992
2   153441.51             NaN        407934.54   NaN  191050.39    0.219673
3   144372.41             NaN        383199.62   NaN  182901.99         NaN
4   142107.34             NaN        366168.42   NaN  166187.94         NaN
5   131876.90             NaN        362861.36   NaN  156991.12    0.531916
6   134615.46       147198.87              NaN   NaN  156122.51    0.317904
7   130298.13       145530.06        323876.68   NaN  155752.60    0.174661
8   120542.52       148718.95        311613.29   NaN  152211.77         NaN
9   123334.88             NaN        304981.62   NaN  149759.96         NaN
10  101913.08             NaN        229160.95   NaN  146121.95         NaN
11  100671.96             NaN        249744.55   NaN  144259.40    1.186189
12   93863.75       127320.38        249839.44   NaN  141585.52    0.946513
13   91992.39       135495.07        252664.93   NaN  134307.35    0.800793
14  119943.24       156547.42        256512.92   NaN  132602.65         NaN
15  114523.61       122616.84        261776.23   NaN  129917.04    0.079356
16   78013.11       121597.55        264346.06   NaN  126992.93         NaN
17   94657.16       145077.58        282574.31   NaN  125370.37         NaN
18   91749.16             NaN        294919.57   NaN  124266.90    0.809170
19   86419.70       153514.11              NaN   NaN  122776.86         NaN
20   76253.86             NaN        298664.47   NaN  118474.03    0.548436
21   78389.47       153773.43        299737.29   NaN        NaN    0.461783
22   73994.56       122782.75        303319.26   NaN        NaN         NaN
23        NaN             NaN        304768.73   NaN        NaN    0.110707
24   77044.01             NaN              NaN   NaN        NaN    1.982234
25        NaN       139553.16              NaN   NaN        NaN         NaN
26   75328.87       144135.98              NaN   NaN        NaN         NaN
27        NaN       127864.55        353183.81   NaN        NaN         NaN
28        NaN       182645.56              NaN   NaN        NaN    0.084293
29        NaN       153032.06              NaN   NaN        NaN         NaN
30        NaN             NaN              NaN   NaN        NaN    0.095337
31        NaN       152701.92              NaN   NaN        NaN         NaN
32        NaN       129219.61              NaN   NaN        NaN         NaN
33        NaN             NaN        214634.81   NaN        NaN    0.709021
34        NaN       157693.92              NaN   NaN        NaN         NaN
35        NaN             NaN              NaN   NaN        NaN    0.807122
36        NaN       127056.21              NaN   NaN        NaN         NaN
37        NaN             NaN              NaN   NaN        NaN         NaN
38        NaN             NaN              NaN   NaN        NaN         NaN
39        NaN             NaN              NaN   NaN        NaN         NaN
40        NaN             NaN              NaN   NaN        NaN    0.510236
41        NaN             NaN              NaN   NaN        NaN    0.049671
42        NaN             NaN              NaN   NaN        NaN    0.563158
43        NaN       127382.30              NaN   NaN        NaN    1.717759
44        NaN       154806.14              NaN   NaN        NaN    1.811549
45        NaN       124153.04              NaN   NaN        NaN         NaN
46        NaN             NaN        297114.46   NaN        NaN    1.184529
47        NaN       135426.92              NaN   NaN        NaN    0.102641
48        NaN             NaN              NaN   NaN        NaN    1.663788
49        NaN             NaN              NaN   NaN        NaN         NaN

In [29]:
dataset[dataset["R&D Spend"] > dataset["R&D Spend"].mean()]

    R&D Spend  Administration  ...     Profit New Column
0   165349.20       136897.80  ...  192261.83  -0.309722
1   162597.70       151377.59  ...  191792.06   0.875992
2   153441.51       101145.55  ...  191050.39   0.219673
3   144372.41       118671.85  ...  182901.99  -0.685385
4   142107.34        91391.77  ...  166187.94  -0.328402
5   131876.90        99814.71  ...  156991.12   0.531916
6   134615.46       147198.87  ...  156122.51   0.317904
7   130298.13       145530.06  ...  155752.60   0.174661
8   120542.52       148718.95  ...  152211.77  -0.207232
9   123334.88       108679.17  ...  149759.96  -1.830735
10  101913.08       110594.11  ...  146121.95  -0.859194
11  100671.96        91790.61  ...  144259.40   1.186189
12   93863.75       127320.38  ...  141585.52   0.946513
13   91992.39       135495.07  ...  134307.35   0.800793
14  119943.24       156547.42  ...  132602.65  -0.910129
15  114523.61       122616.84  ...  129917.04   0.079356
16   78013.11       121597.55  ...  126992.93  -0.583196
17   94657.16       145077.58  ...  125370.37  -1.634420
18   91749.16       114175.79  ...  124266.90   0.809170
19   86419.70       153514.11  ...  122776.86  -0.996041
20   76253.86       113867.30  ...  118474.03   0.548436
21   78389.47       153773.43  ...  111313.02   0.461783
22   73994.56       122782.75  ...  110352.25  -0.497513
24   77044.01        99281.34  ...  108552.04   1.982234
26   75328.87       144135.98  ...  105733.54  -0.358816

[25 rows x 6 columns]

In [35]:
dataset[np.abs(dataset["Administration"] - dataset["Administration"].mean()) < 2 * dataset["Administration"].std()]

    R&D Spend  Administration  ...     Profit New Column
0   165349.20       136897.80  ...  192261.83  -0.309722
1   162597.70       151377.59  ...  191792.06   0.875992
2   153441.51       101145.55  ...  191050.39   0.219673
3   144372.41       118671.85  ...  182901.99  -0.685385
4   142107.34        91391.77  ...  166187.94  -0.328402
5   131876.90        99814.71  ...  156991.12   0.531916
6   134615.46       147198.87  ...  156122.51   0.317904
7   130298.13       145530.06  ...  155752.60   0.174661
8   120542.52       148718.95  ...  152211.77  -0.207232
9   123334.88       108679.17  ...  149759.96  -1.830735
10  101913.08       110594.11  ...  146121.95  -0.859194
11  100671.96        91790.61  ...  144259.40   1.186189
12   93863.75       127320.38  ...  141585.52   0.946513
13   91992.39       135495.07  ...  134307.35   0.800793
14  119943.24       156547.42  ...  132602.65  -0.910129
15  114523.61       122616.84  ...  129917.04   0.079356
16   78013.11       121597.55  ...  126992.93  -0.583196
17   94657.16       145077.58  ...  125370.37  -1.634420
18   91749.16       114175.79  ...  124266.90   0.809170
19   86419.70       153514.11  ...  122776.86  -0.996041
20   76253.86       113867.30  ...  118474.03   0.548436
21   78389.47       153773.43  ...  111313.02   0.461783
22   73994.56       122782.75  ...  110352.25  -0.497513
23   67532.53       105751.03  ...  108733.99   0.110707
24   77044.01        99281.34  ...  108552.04   1.982234
25   64664.71       139553.16  ...  107404.34  -1.505767
26   75328.87       144135.98  ...  105733.54  -0.358816
27   72107.60       127864.55  ...  105008.31  -0.449290
29   65605.48       153032.06  ...  101004.64  -1.467701
30   61994.48       115641.28  ...   99937.59   0.095337
31   61136.38       152701.92  ...   97483.56  -0.040968
32   63408.86       129219.61  ...   97427.84  -0.610383
33   55493.95       103057.49  ...   96778.92   0.709021
34   46426.07       157693.92  ...   96712.80  -1.501112
35   46014.02        85047.44  ...   96479.51   0.807122
36   28663.76       127056.21  ...   90708.19  -0.474065
38   20229.59        65947.93  ...   81229.06  -0.637665
39   38558.51        82982.09  ...   81005.76  -1.269298
40   28754.33       118546.05  ...   78239.91   0.510236
41   27892.92        84710.77  ...   77798.83   0.049671
42   23640.93        96189.63  ...   71498.49   0.563158
43   15505.73       127382.30  ...   69758.98   1.717759
44   22177.74       154806.14  ...   65200.33   1.811549
45    1000.23       124153.04  ...   64926.08  -0.994175
46    1315.46       115816.21  ...   49490.75   1.184529
47       0.00       135426.92  ...   42559.73   0.102641
49       0.00       116983.80  ...   14681.40  -0.429836

[47 rows x 6 columns]

In [37]:
dataset[(dataset["Administration"] < dataset["Administration"].mean() + 2 * dataset["Administration"].std()) & (dataset["Administration"] > dataset["Administration"].mean() - 2 * dataset["Administration"].std())]

    R&D Spend  Administration  ...     Profit New Column
0   165349.20       136897.80  ...  192261.83  -0.309722
1   162597.70       151377.59  ...  191792.06   0.875992
2   153441.51       101145.55  ...  191050.39   0.219673
3   144372.41       118671.85  ...  182901.99  -0.685385
4   142107.34        91391.77  ...  166187.94  -0.328402
5   131876.90        99814.71  ...  156991.12   0.531916
6   134615.46       147198.87  ...  156122.51   0.317904
7   130298.13       145530.06  ...  155752.60   0.174661
8   120542.52       148718.95  ...  152211.77  -0.207232
9   123334.88       108679.17  ...  149759.96  -1.830735
10  101913.08       110594.11  ...  146121.95  -0.859194
11  100671.96        91790.61  ...  144259.40   1.186189
12   93863.75       127320.38  ...  141585.52   0.946513
13   91992.39       135495.07  ...  134307.35   0.800793
14  119943.24       156547.42  ...  132602.65  -0.910129
15  114523.61       122616.84  ...  129917.04   0.079356
16   78013.11       121597.55  ...  126992.93  -0.583196
17   94657.16       145077.58  ...  125370.37  -1.634420
18   91749.16       114175.79  ...  124266.90   0.809170
19   86419.70       153514.11  ...  122776.86  -0.996041
20   76253.86       113867.30  ...  118474.03   0.548436
21   78389.47       153773.43  ...  111313.02   0.461783
22   73994.56       122782.75  ...  110352.25  -0.497513
23   67532.53       105751.03  ...  108733.99   0.110707
24   77044.01        99281.34  ...  108552.04   1.982234
25   64664.71       139553.16  ...  107404.34  -1.505767
26   75328.87       144135.98  ...  105733.54  -0.358816
27   72107.60       127864.55  ...  105008.31  -0.449290
29   65605.48       153032.06  ...  101004.64  -1.467701
30   61994.48       115641.28  ...   99937.59   0.095337
31   61136.38       152701.92  ...   97483.56  -0.040968
32   63408.86       129219.61  ...   97427.84  -0.610383
33   55493.95       103057.49  ...   96778.92   0.709021
34   46426.07       157693.92  ...   96712.80  -1.501112
35   46014.02        85047.44  ...   96479.51   0.807122
36   28663.76       127056.21  ...   90708.19  -0.474065
38   20229.59        65947.93  ...   81229.06  -0.637665
39   38558.51        82982.09  ...   81005.76  -1.269298
40   28754.33       118546.05  ...   78239.91   0.510236
41   27892.92        84710.77  ...   77798.83   0.049671
42   23640.93        96189.63  ...   71498.49   0.563158
43   15505.73       127382.30  ...   69758.98   1.717759
44   22177.74       154806.14  ...   65200.33   1.811549
45    1000.23       124153.04  ...   64926.08  -0.994175
46    1315.46       115816.21  ...   49490.75   1.184529
47       0.00       135426.92  ...   42559.73   0.102641
49       0.00       116983.80  ...   14681.40  -0.429836

[47 rows x 6 columns]

In [39]:
dataset["New Column"].apply(lambda x: np.abs(x))

0     0.309722
1     0.875992
2     0.219673
3     0.685385
4     0.328402
5     0.531916
6     0.317904
7     0.174661
8     0.207232
9     1.830735
10    0.859194
11    1.186189
12    0.946513
13    0.800793
14    0.910129
15    0.079356
16    0.583196
17    1.634420
18    0.809170
19    0.996041
20    0.548436
21    0.461783
22    0.497513
23    0.110707
24    1.982234
25    1.505767
26    0.358816
27    0.449290
28    0.084293
29    1.467701
30    0.095337
31    0.040968
32    0.610383
33    0.709021
34    1.501112
35    0.807122
36    0.474065
37    0.244484
38    0.637665
39    1.269298
40    0.510236
41    0.049671
42    0.563158
43    1.717759
44    1.811549
45    0.994175
46    1.184529
47    0.102641
48    1.663788
49    0.429836
Name: New Column, dtype: float64

In [40]:
#In case of working in google colab
chipo = files.upload()

Saving chipotle.csv to chipotle.csv

### Choose path to the file depending on your environment

In [ ]:
#Google colab
chipotle_path = "chipotle.csv"

In [9]:
#local
chipotle_path = "./Data_for_exercises/chipotle.csv"

In [10]:
dataset = pd.read_csv(chipotle_path)
dataset

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,10,5,1,Chips and Guacamole,NaN,$4.45
11,11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,14,7,1,Chips and Guacamole,NaN,$4.45
15,15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,18,9,2,Canned Soda,[Sprite],$2.18
19,19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
20,20,10,1,Chips and Guacamole,NaN,$4.45
21,21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99
22,22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
24,24,12,1,Izze,[Grapefruit],$3.39
25,25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39
26,26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
27,27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99
28,28,14,1,Canned Soda,[Dr. Pepper],$1.09
29,29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
...,...,...,...,...,...,...
4592,4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$11.75
4593,4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.75
4594,4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",$11.75
4595,4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4596,4596,1826,1,Chips and Guacamole,NaN,$4.45
4597,4597,1826,1,Canned Soft Drink,[Nestea],$1.25
4598,4598,1826,1,Bottled Water,NaN,$1.50
4599,4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4600,4600,1827,1,Chips and Guacamole,NaN,$4.45
4601,4601,1827,1,Canned Soft Drink,[Diet Coke],$1.25
4602,4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4603,4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4604,4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4605,4605,1828,1,Chips and Guacamole,NaN,$4.45
4606,4606,1828,1,Canned Soft Drink,[Coke],$1.25
4607,4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75
4608,4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4609,4609,1829,1,Canned Soft Drink,[Sprite],$1.25
4610,4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4611,4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,4613,1831,1,Chips,NaN,$2.15
4614,4614,1831,1,Bottled Water,NaN,$1.50
4615,4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [46]:
dataset.head(10)

   Unnamed: 0  ...  item_price
0           0  ...      $2.39
1           1  ...      $3.39
2           2  ...      $3.39
3           3  ...      $2.39
4           4  ...     $16.98
5           5  ...     $10.98
6           6  ...      $1.69
7           7  ...     $11.75
8           8  ...      $9.25
9           9  ...      $9.25

[10 rows x 6 columns]

In [54]:
dataset.shape

(4622, 6)

In [55]:
dataset.columns

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [0]:
grouped_dataset = dataset.groupby("item_name").sum()
#alternative grouped_dataset_with_only_quantity = dataset.groupby("item_name")["quantity"].sum()

In [103]:
grouped_dataset.sort_values("quantity", ascending = False)

                                       Unnamed: 0  ...  item_price
item_name                                          ...
Chicken Bowl                              1779909  ...     7342.73
Chicken Burrito                           1238217  ...     5575.82
Chips and Guacamole                       1121773  ...     2201.04
Steak Burrito                              817795  ...     3851.43
Canned Soft Drink                          759990  ...      438.75
Chips                                      518704  ...      494.34
Steak Bowl                                 482721  ...     2260.19
Bottled Water                              439354  ...      302.56
Chips and Fresh Tomato Salsa               250144  ...      361.36
Canned Soda                                189915  ...      137.34
Chicken Salad Bowl                         292292  ...     1228.75
Chicken Soft Tacos                         244891  ...     1108.09
Side of Chips                              211009  ...      185.90
Veggie Burrito                             201321  ...      934.77
Barbacoa Burrito                           185979  ...      894.75
Veggie Bowl                                180046  ...      867.99
Carnitas Bowl                              156599  ...      736.71
Barbacoa Bowl                              134264  ...      672.36
Carnitas Burrito                           128611  ...      597.83
Steak Soft Tacos                           125012  ...      536.05
6 Pack Soft Drink                          130318  ...      356.95
Chips and Tomatillo Red Chili Salsa        113585  ...      147.50
Chicken Crispy Tacos                       118393  ...      472.13
Chips and Tomatillo Green Chili Salsa      102435  ...      132.75
Carnitas Soft Tacos                         93766  ...      375.94
Steak Crispy Tacos                          89408  ...      357.34
Chips and Tomatillo-Green Chili Salsa       54211  ...       78.87
Steak Salad Bowl                            73953  ...      343.59
Nantucket Nectar                            54403  ...       98.31
Chips and Tomatillo-Red Chili Salsa         45650  ...       59.75
Barbacoa Soft Tacos                         46454  ...      250.46
Chips and Roasted Chili Corn Salsa          37152  ...       67.85
Izze                                        26280  ...       67.80
Veggie Salad Bowl                           43124  ...      182.50
Chips and Roasted Chili-Corn Salsa          43554  ...       43.02
Barbacoa Crispy Tacos                       13825  ...      120.21
Barbacoa Salad Bowl                         24161  ...      106.40
Chicken Salad                               26125  ...       81.09
Carnitas Crispy Tacos                       14567  ...       77.96
Veggie Soft Tacos                           13737  ...       73.96
Burrito                                      3734  ...       44.40
Veggie Salad                                18164  ...       50.94
Carnitas Salad Bowl                         16710  ...       66.34
Bowl                                         1118  ...       29.60
Steak Salad                                  5811  ...       35.66
Salad                                        2829  ...       14.80
Crispy Tacos                                 1041  ...       14.80
Chips and Mild Fresh Tomato Salsa             674  ...        3.00
Carnitas Salad                               3750  ...        8.99
Veggie Crispy Tacos                          1653  ...        8.49

[50 rows x 4 columns]

In [76]:
np.sum(dataset["quantity"])

4972

In [106]:
#dataset["item_price"] = dataset["item_price"].str.replace('$','')
#dataset["item_price"] = dataset["item_price"].apply(lambda x:float(x))
#good alternative dataset["item_price"] = dataset["item_price"].apply(lambda x:float(x[1:]))
tot_item_sale = dataset["item_price"].multiply(dataset["quantity"])
np.sum(tot_item_sale)

39237.02

In [113]:
dataset["revenue"] = tot_item_sale
dataset.groupby("order_id").sum().mean()

Unnamed: 0    5822.863141
quantity         2.711014
item_price      18.811429
revenue         21.394231
dtype: float64